.pos.mobile .leftpane {
  left: 40% !important;
  right: 0px;
  bottom: 100px;
}

.pos.mobile .rightpane {
  right: 60% !important;
  bottom: 100px;
}

.btn.mobile {
  font-size: 25px !important;
}

.pos.mobile .material-icons {
  font-size: 50px !important;
}

.pos.mobile .pos-topheader {
  height: 100px;
}

.pos.mobile .swal2-modal {
  width: 90% !important;
}

.pos.mobile .swal2-modal .swal2-content {
  font-size: 30px !important;
}

.pos.mobile .swal2-modal h2 {
  font-size: 50px;
}

.pos.mobile .footer .button {
  min-height: 80px !important;
  font-size: 30px !important;
  min-width: 220px;
  padding: 20px;
}

.pos.mobile .oe_status {
  display: none;
}

.pos.mobile .oe_status .fa {
  font-size: 25px !important;
  padding-top: 25px !important;
}

.launchpad-app-icon.mobile .material-icons {
  font-size: 25px !important;
}

.pos.mobile .pos-content {
  top: 100px !important;
}

.pos.mobile h1 {
  font-size: 60px !important;
}

.pos.mobile .order-button.selected .order-sequence {
  min-width: 50px;
  min-height: 50px;
  padding: 13px;
  font-size: 40px;
  border-radius: 65%;
}

.pos.mobile .view-cart-list .add-new-order {
  width: 15% !important;
}

.pos.mobile .view-cart-list .material-icons {
  font-size: 60px !important;
}

.pos.mobile .logo_shop_header {
  width: 100px;
  max-height: 100px;
}

.pos.mobile .oe_status .oe_icon .fa {
  font-size: 40px !important;
}

.pos.mobile .oe_status .oe_icon .material-icons {
  font-size: 40px !important;
  padding-top: 35px !important;
}

.pos.mobile .js_synch {
  max-width: 80px !important;
  min-width: 80px !important;
  padding-top: 35px !important;
}

.pos.mobile .pads .numpad {
  width: 100% !important;
}

.pos.mobile .pads .numpad button {
  height: 100px;
}

.pos.mobile .pad {
  height: 60px;
}

.pos.mobile .pads .numpad .input-button {
  font-size: 50px !important;
  font-weight: 900 !important;
}

.pos.mobile .modal-dialog .popup .product {
  width: 30%;
}

.pos.mobile .view-cart-list .remove-selected-order {
  width: 15% !important;
}

.pos.mobile .view-cart-list .checkout-full {
  display: none;
  width: 0px;
}

.pos.mobile .search-products .searchbox {
  right: 0px !important;
}

.pos.mobile .notification {
  height: 40px;
  width: 40px;
}

.pos.mobile .line-container {
  width: 100% !important;
}

.pos.mobile .line-container .launchpad-app-container {
  height: 150px !important;
}

.pos.mobile .line-container .launchpad-app-container .launchpad-app-label {
  font-size: 25px;
  line-height: 35px;
  margin-top: 35px;
}

// ------------ client screen ------------------------
.pos.mobile .clientlist-screen .searchbox {
  left: 20% !important;
  height: 100px !important;
}

.pos.mobile .clientlist-screen .client-details {
  max-height: 100%;
}

.pos.mobile .clientlist-screen .client-detail > .label {
  font-weight: 900 !important;
}

.pos.mobile .clientlist-screen .searchbox input {
  height: 88px !important;
  font-size: 35px !important;
  width: 440px;
}

.pos.mobile .client-details-left {
  width: 40% !important;
}

//-----------------------------

.pos.mobile .product {
  width: 95%;
  min-height: 35em;
}

.pos.mobile .leftpane .pads {
  //min-height: 430px;
}

.pos.mobile .product-screen .searchbox {
  top: 120px;
  width: 100% !important;
  right: unset;
}

.pos.mobile .product-screen .searchbox input {
  height: 100px !important;
  font-size: 23px !important;
  width: 100%;
  padding: 30px;
  margin: 0px !important;
}

.pos.mobile .shortcut_screens {
  width: 15% !important;
  bottom: 100px;
  display: none;
}

.pos.mobile .shortcut_screens .launchpad-app-container {
  width: 100% !important;
  height: auto;
  padding: 10px;
}

.pos.mobile .shortcut_screens .launchpad-app-container .launchpad-app-label {
  font-size: 25px !important;
  line-height: 1.5em;
}

.pos.mobile .top-content .button.next {
  margin-right: 0px;
  max-width: 245px !important;
  padding-top: 10px !important;
  font-weight: 900 !important;
}

.pos.mobile .badge {
  font-size: 40px !important;
}

.pos.mobile .cart_qty .material-icons {
  font-size: 25px !important;
}

.pos.mobile .cart_qty {
  font-size: 25px !important;
}

.pos.mobile .top-content .button {
  height: 85px !important;
  padding: 30px !important;
}

.pos.mobile .top-content .button .fa {
  font-size: 30px !important;
}

.pos.mobile .clientlist-screen .button.new-customer {
  margin-left: 0px !important;
  left: 65% !important;
}

.pos.mobile .header {
  display: none;
}

.pos.mobile .full-content {
  top: 100px !important;
}

// ----------------- payment screen ----------------//
.pos.mobile .paymentlines-empty .total {
  font-size: 85px !important;
}
.pos.mobile .payment-ref-button {
  display: none;
}
.pos.mobile .top-content {
  height: 100px;
}

.pos.mobile .payment-numpad .numpad button {
  height: 160px !important;
}

.pos.mobile .centered-content {
  top: 120px !important;
}

.pos.mobile .paymentlines-detail .summary-detail {
  font-size: 25px !important;
}

.pos.mobile .paymentline > td {
  height: 100px;
  font-size: 30px;
}

.pos.mobile .left-content {
  top: 100px !important;
  right: 85% !important;
  width: 15% !important;
}

.pos.mobile .receipt-detail {
  display: none;
}

.pos.mobile .right-content.pc60 {
  top: 100px !important;
  left: 15%;
  right: 15%;
}

.pos.mobile .paymentlines .label > * {
  font-size: 25px;
  color: blue;
}

.pos.mobile .paymentline > td {
  height: 100%;
  color: black;
}

.pos.mobile .invoice_journals {
  width: 15%;
}

.pos.mobile .buttons-content {
  top: 100px !important;
  left: 85%;
  width: 15%;
}

// ------------------- category product ----------------//
.pos.mobile .category-list {
  max-height: 600px !important;
}

.pos.mobile .category_home {
  border-radius: 3px;
  margin-top: 0px;
  max-height: 52px;
  display: inline-block;
  width: 90px;
  height: 90px;
  display: inline-block;
}

.pos.mobile .category_home_icon {
  max-width: 100%;
}

.pos.mobile .breadcrumb-button.breadcrumb-home {
  height: 220px !important;
  width: 100%;
  padding: 10px !important;
}

.pos.mobile .popup-seachbox {
  min-width: 500px;
  height: 80px;
  font-size: 30px;
}

.pos.mobile .card-title {
  font-size: 40px;
  font-weight: 900;
}

.pos.mobile .table > tbody > tr {
  font-size: 30px !important;
}

.pos.mobile .shortcut_screens .launchpad-app-container .launchpad-app-icon {

}

.pos.mobile .product .product-name .product-line-name {
  font-size: 30px !important;
  line-height: 35px !important;
}

.pos.mobile .info .btn {
  min-height: 2em;
  min-width: 5em;
  font-size: 30px;
}

.pos.mobile .order .summary {
  font-size: 30px;
}

.pos.mobile .order .summary .total {
  font-size: 30px;
  font-weight: 900;
}

.pos.mobile .order .summary .total .value {
  font-size: 40px !important;
}

.pos.mobile .order .summary .line .subentry {
  font-size: 30px !important;
}

// ------------------- product screen ---------------
.pos.mobile .breadcrumb:last-child {
  height: 70px;
  color: #ffffff !important;
}

.pos.mobile .rightpane-header {
  height: 70px;
  margin-left: 0px;
  margin-bottom: 9px;
  margin-top: 5px;
}

.pos.mobile .breadcrumb-button {
  font-size: 25px;
  padding: 15px;
  line-height: 40px;
  height: 70px;
}

.pos.mobile .product .price-tag {
  font-size: 35px !important;
  padding-bottom: 20px;
}

.pos.mobile .header-category {
  height: 220px !important;
}

.pos.mobile .product-screen .searchbox .left {
  top: 35px !important;
  font-size: 18px !important;
}

.pos.mobile .product-screen .searchbox .left .fa {
  font-size: 30px !important;
}

.pos.mobile .keyboard-shortcut {
  display: none;
}

.pos.mobile .product-screen .searchbox .right {
  top: 35px !important;
  font-size: 18px !important;
  left: 92%;
  color: red;
}

.pos.mobile .product-screen .searchbox .right .fa {
  font-size: 30px !important;
}

.pos.mobile .seller_name {
  display: none;
}

.pos.mobile .paymentmethod {
  width: 44%;
}

.pos.mobile .ribbon {
  display: none;
}

.pos.mobile .cart-detail {
  display: none;
}

.pos.mobile .line-container .launchpad-app-container .launchpad-app-icon {
  text-align: center;
  height: 1em;
  font-size: 10px;
}

.pos.mobile .line-container .launchpad-app-container .launchpad-app-icon img {
  height: 40px !important;
  width: 40px !important;
}

.pos.mobile .product .product-name {
  font-size: 25px !important;
  line-height: 40px !important;
}

.pos.mobile .debug-widget {
  display: none;
}

.pos.mobile .mode-button {
  font-size: 30px !important;
}

.pos.mobile .order-button .order-sequence {
  font-size: 30px;
  background: black;
  border-radius: 65%;
  color: #fff;
  display: inline-block;
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
}

.pos.mobile .order-button {
  height: 100px !important;
  padding: 30px !important;
  font-size: 25px !important;
  min-width: 200px;
}

.pos.mobile .order-button.selected {
  height: 100px !important;
  padding: 30px !important;
  font-size: 25px !important;
}

.pos.mobile .oe_status .material-icons {
  padding-top: 10px;
}

.pos.mobile .popup .title {
  font-size: 30px !important;
  height: 100px;
  line-height: 30px;
  padding: 30px;
  font-weight: 900 !important;
}

.pos.mobile .popup input {
  height: 80px !important;
  font-size: 30px !important;
}

.pos.mobile .popup .label {
  font-size: 35px !important;
}

.pos.mobile .popup-numpad {
  width: 90%;

}

.pos.mobile .popup-numpad .input-button, .pos.mobile .popup-numpad .mode-button {
  width: 20% !important;
  font-size: 55px !important;
  height: 90px !important;
}

.pos.mobile .popup .form-control {
  min-height: 80px !important;
  font-size: 25px !important;
}

.pos.mobile .popup-number .popup-input {
  min-height: 80px;
  padding: 22px;
  font-size: 30px !important;
}

.pos.mobile .modal-dialog .popup {
  min-width: 90% !important;
  min-height: 90% !important;
}

.pos.mobile .modal-dialog .popup .left_button {
  width: 30% !important;
}

.pos.mobile .form-footer .btn {
  padding: 30px;
  font-size: 25px;
  max-height: 120px;
}

.pos.mobile .view-cart-list {
  height: 100px;
}

.pos.mobile .open-cart-list {
  width: 70%;
}

.pos.mobile .open-cart-list > button {
  height: 100px !important;
}

.pos.mobile .customer-name {
  width: 40% !important;
  font-size: 25px !important;
}

.pos.mobile .view-cart-list .checkout {
  width: 60%;
}

.pos.mobile .button-name {
  font-size: 25px !important;
  line-height: 35px !important;
  max-height: 100% !important;
}

.pos.mobile .clientlist-screen .client-list th {
  display: none;
}

.pos.mobile .clientlist-screen .client-list td {
  font-size: 20px !important;
}

.pos.mobile .paymentlines-detail {
  height: 450px !important;
}

.pos.mobile .summary-box-left {
  width: 100% !important;
}

.pos.mobile .summary-box-right {
  width: 100% !important;
  float: left !important;
}

.pos.mobile .label {
  font-size: 20px;
}

.pos.mobile .clientlist-screen .client-detail {
  line-height: 30px !important;
  font-size: 20px !important;
}

.pos.mobile .client-name {
  font-size: 30px;
}

.pos.mobile .due-amount {
  font-size: 30px;
}
.pos.mobile .change-amount {
  font-size: 40px;
}

.pos.mobile .order_line_logo {
  max-width: 30px;
}

//----------- orderline --------//
.pos.mobile .tag-label {
  height: 40px;
  font-size: 25px;
}

.pos.mobile .selected-line-detail {
  display: none !important;
}

.pos.mobile .info .btn {
  margin-left: 0px;
}

.pos.mobile .promotion-label {
  font-size: 35px !important;
}

.pos.mobile .order .orderline {
  padding: 20px;
  margin-bottom: 15px !important;
}

.pos.mobile .order .orderline .fa {
  font-size: 25px !important;
}

.pos.mobile .order .orderline .price {
  font-size: 25px !important;
}

.pos.mobile .edit-item {
  display: none !important;
}

.pos.mobile .order .orderline .orderline-product-name {
  font-size: 25px !important;
}

.pos.mobile .info {
  font-size: 25px !important;
}

.pos.mobile .category-list.simple {
  max-height: 500px !important;
}

.pos.mobile .category-simple-button {
  font-size: 25px !important;
}

.pos.mobile .left_button {
  width: 100% !important;
  min-height: 150px;
  padding: 10px;
  line-height: 30px;
}

.pos.mobile > span {
  font-size: 25px !important;
}

.pos.mobile .show_hide_pad {
  margin-left: 50% !important;
  font-size: 35px !important;
}

// -------------- floor table screen -----------------
.pos.mobile .order-button.floor-button {
  min-width: 350px !important;
}

.pos.mobile .order-button.floor-button .fa {
  font-size: 50px !important;
}

.floor-selector.mobile .button {
  font-size: 40px;
  line-height: 100px;
}

.floor-map.mobile .table .table-seats {
  display: none;
}

.floor-map.mobile .table .label {
  top: 150px !important;
  font-size: 50px !important;
  font-weight: 900 !important;
}

.table.mobile {
  width: 25% !important;
  min-height: 300px !important;
  height: 300px !important;
  margin: 30px !important;
  left: auto !important;
  position: relative;
  vertical-align: top;
  display: inline-block;
  line-height: 100px;
  font-size: 11px;
  background: #fff;
  border-radius: 3px;
  border-bottom-width: 3px;
  overflow: hidden;
  cursor: pointer;
}

.pos.mobile .material-icons {
  font-size: 50px !important;
}

.table.mobile > span {
  font-size: 35px !important;
  line-height: 45px !important;
  padding: 5px !important;
  font-weight: 900;
}

.pos.mobile .customer_count .material-icons {
  font-size: 25px !important;
}

.table.mobile .table-seats {
  font-size: 25px !important;
}

.pos.mobile .customer_count .material-icons {
  font-size: 60px !important;

}

.floor-map.mobile .table .unactive_print {
  font-size: 40px !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 65%;
  line-height: 45px !important;
  font-weight: 900;
}

.floor-map.mobile .order-count {
  font-size: 40px !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 65%;
  line-height: 45px !important;
  font-weight: 900;
}

.floor-map.mobile .tables {
  max-width: unset !important;
  max-height: unset !important;
}

.floor-map.mobile .table .active_print {
  font-size: 40px !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 65%;
  line-height: 45px !important;
  font-weight: 900;
}

// --------------- receipt ------------------
.pos.mobile .pos-receipt-container > div {
  max-width: 80% !important;
  width: 80% !important;
}

.pos.mobile .pos-receipt .receipt-line {
  font-size: 25px !important;
}

.pos.mobile .receipt-cell {
  font-size: 25px !important;
}

.pos.mobile .footer_barcode {
  width: 50%;
  height: 15em;
}

.pos.mobile .receipt-screen .centered-content .button {
  max-width: 50%;
  height: 100px;
  padding: 30px;
  font-size: 40px;
}

.pos.mobile .receipt-screen .centered-content .button .fa {
  font-size: 40px !important;
}